<nav class="d-flex justify-content-between align-items-center mb-4">
<h1> S'inscrire </h1>
<div>
<%= link_to "Connexion", new_user_session_path, class:"btn btn-success" %>
<%= link_to "Retour", todos_path, class:"btn btn-danger" %>
</div>
</nav>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
    label: 'Adresse mail',
                required: true,
                autofocus: true,
                input_html: { class:"mb-3",autocomplete: "email" }%>
    <%= f.input :password,
    label:'Mot de passe',
                required: true,
                hint: ("minimum #{@minimum_password_length} caractères" if @minimum_password_length),
                input_html: {autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
    label:"Confirmer le mot de passe",
                required: true,
                input_html: {class:"mb-3", autocomplete: "new-password" },
                label_html: {class:"mt-3"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class:"btn btn-primary" %>
  </div>
<% end %>

