<nav class="d-flex justify-content-between align-items-center mb-4">
<h1>Créer une tache à faire</h1>
<%= link_to "Retour", :back, class:"btn btn-success" %>
</nav>
<%= simple_form_for @todo do |f| %>
<div class="form-group mb-3">
  <%= f.input :title, label: "Titre de la tâche", error: "Le titre est obligatoire" %>
</div>
<div class="form-group mb-3">
  <%= f.input :description, :as =>:text,label: "Description", input_html: {cols:5, rows:5} %>
  </div>
  <%= f.submit "Valider" , class:"btn btn-primary"%>
<% end %>

